.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.game-container{
    display: flex;
    min-width: 350px;
    flex-direction: column;
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    background-color: forestgreen;
    padding: 20px;
    min-width: 350px;
}

#dice1,
#dice2,
#dice3,
#dice4,
#dice5 {
    display: flex;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
}

img {
    object-fit: contain;
}

button {
    background: radial-gradient(white, darkGrey);
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background: radial-gradient(white, black);
    font-weight: bolder;
    color: red;
}

button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.score-container {
    background-color: white;
    padding: 20px;
    min-width: 350px;
}

.display-section {
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.score-section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-style: solid;
    border-width: 1px;
    color: black;
}

.total-score {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-weight: bolder;
}

label {
    border-style: solid;
    border-width: 1px;
}

span {
    border-style: solid;
    border-width: 1px;
}